{% extends 'general/main.html' %}
{% load static %}
{% load custom_filters %}
{% block content %}
<main id="main" class="dark dark-page-wrapper">

    <div class="container py-4">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h1 class="fw-bolder">Products in {{ category }}</h1>
            <div class="dropdown">
                <button type="button" id="dropdown04" data-bs-toggle="dropdown" aria-expanded="false" class="btn btn-outline-light dropdown-toggle">
                    Ordered by: {{ order_type }}
                </button>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdown04">
                    <li><a class="dropdown-item" href="?{% proper_order request 'order' 'price' %}">By price (asc)</a></li>
                    <li><a class="dropdown-item" href="?{% proper_order request 'order' 'price' dir='desc' %}">By price (desc)</a></li>
                    <li><a class="dropdown-item" href="?{% proper_order request 'order' 'name' %}">By name</a></li>
                </ul>
            </div>
        </div>

        <div class="row category-page-row">
            <div class="col-lg-3 col-md-12 ">
                <div id="shop-sidebar" class="sidebar-inner col-inner bg-dark text-white ">
                    <h4 class="text-white">Sidebar Title</h4>
                    <ul class="list-unstyled">
                        <hr>

                        <form action="">
                            <!-- Use the checkbox hack to handle the collapse behavior -->
                            <input type="checkbox" id="collapseCheckbox" class="d-none">
                            <label class="btn btn-primary d-block w-100 dropdown-toggle" for="collapseCheckbox" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-controls="collapse2">
                                Brands
                            </label>

                            <div class="collapse" id="collapse2">
                                <div class="form-check">
                                    {% for brand in brands %}
                                    <input class="form-check-input" type="checkbox" name="brands[]" value="{{ brand }}" id="brand{{ brand.id }}">
                                    <label class="form-check-label" for="brand{{ brand.id }}">
                                        {{ brand }}
                                    </label>
                                    <br>
                                    {% endfor %}
                                </div>
                            </div>
                        </form>

                        <hr>

                            <form action="">
                                <!-- Use the checkbox hack to handle the collapse behavior -->
                                <input type="checkbox" id="collapseCheckbox2" class="d-none">
                                <label class="btn btn-primary d-block w-100 dropdown-toggle" for="collapseCheckbox2" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-controls="collapseExample">
                                    Strength
                                </label>

                                <div class="collapse" id="collapseExample">
                                    <div class="form-check">
                                        {% for s in strengths %}
                                        <input class="form-check-input" type="checkbox" name="strengths[]" value="{{s.value}}" id="strength{{s.id}}">
                                        <label class="form-check-label" for="strength{{s.id}}">
                                            {{s.value}}
                                        </label>
                                        <br>
                                        {% endfor %}
                                    </div>
                                </div>
                            </form>

                        <hr>

                        <li><a href="#">Option 1</a></li>
                        <li><a href="#">Option 2</a></li>
                        <li><a href="#">Option 3</a></li>
                        <!-- Add more sidebar options as needed -->
                    </ul>
                </div>
            </div>

            <div class="col-lg-9 col-md-12">
                <div class="shop-container">
                    <div class="woocommerce-notices-wrapper"></div>
                    <div class="products row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-4">
                        {% for product in products %}
                        <div class="col">
                            <div class="card border border-dark">
                                <img src="{{ product.productimage_set.first.image.url }}" class="card-img-top" alt="{{ product.name }}">
                                <div class="card-body bg-dark text-white">
                                    <h5 class="card-title">{{ product.name|truncatechars:40 }}</h5>
                                    <p>{{ product.price }}£</p>
                                    <a href="{% url 'products:product-detail' slug=product.slug %}" class="btn btn-primary">View Product</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
{% endblock content %}
