{% extends 'general/main.html' %}
{% load static %}
{% load custom_filters %}
{% block content %}
<main id="main" class="dark dark-page-wrapper">

    <div class="container py-4">
        <div class="d-flex justify-content-between align-items-center mb-4">
                {% if 'category' in request.GET %}
                    <h1 class="fw-bolder">Products in {{ request.GET.category }}</h1>
                {% elif 'Brands' in request.GET %}
                    <h1 class="fw-bolder">Products in {{ request.GET.Brands }}</h1>
                {% elif 'q' in request.GET %}
                    <h1 class="fw-bolder">Search results for "{{ request.GET.q }}"</h1>
                {% endif %}
            <div class="dropdown">
                <button type="button" id="dropdown04" data-bs-toggle="dropdown" aria-expanded="false" class="btn btn-outline-light dropdown-toggle">
                    Ordered by: {{ order_type }}
                </button>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdown04">
                    <li><a class="dropdown-item" href="?{% proper_order request 'order' 'price' %}">By price (asc)</a></li>
                    <li><a class="dropdown-item" href="?{% proper_order request 'order' 'price' dir='desc' %}">By price (desc)</a></li>
                    <li><a class="dropdown-item" href="?{% proper_order request 'order' 'name' %}">By name</a></li>
                </ul>
            </div>
        </div>

        <div class="row category-page-row">
            <div class="col-lg-3 col-md-12 ">
                <div id="shop-sidebar" class="sidebar-inner col-inner bg-dark text-white ">
                    <h4 class="text-white pb-3">Search:</h4>
                    <ul class="list-unstyled">


                        <form class="" action="">
                            <!-- Use the checkbox hack to handle the collapse behavior -->
                            <input type="checkbox" id="collapseCheckbox" class="d-none">
                            <label class="search-form-btn btn btn-primary d-block w-100 dropdown-toggle" for="collapseCheckbox" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-controls="collapse2">
                                Brands
                            </label>


                            <div class="collapse" id="collapse2">
                                <div class="form-check m-1">
                                    {% for brand in brands %}
                                    <input class="form-check-input region-checkbox" type="checkbox" name="Brands" value="{{ brand }}" id="brand{{ brand.id }}">
                                    <label class="form-check-label" for="brand{{ brand.id }}">
                                        {{ brand }}
                                    </label>
                                    <br>
                                    {% endfor %}
                                </div>
                            </div>
                        </form>



                            <form class="" action="">
                                <!-- Use the checkbox hack to handle the collapse behavior -->
                                <input type="checkbox" id="collapseCheckbox2" class="d-none">
                                <label class="search-form-btn btn btn-primary d-block w-100 dropdown-toggle" for="collapseCheckbox2" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-controls="collapseExample">
                                    Strength
                                </label>


                                <div class="collapse" id="collapseExample">
                                    <div class="form-check m-1">
                                        {% for s in strengths %}
                                        <input class="form-check-input region-checkbox" type="checkbox" name="Strength" value="{{s.value}}" id="strength{{s.id}}">
                                        <label class="form-check-label" for="strength{{s.id}}">
                                            {{s.value}}
                                        </label>
                                        <br>
                                        {% endfor %}
                                    </div>
                                </div>
                            </form>


                            <form class="pb-3" action="">
                                <!-- Use the checkbox hack to handle the collapse behavior -->
                                <input type="checkbox" id="collapseCheckbox3" class="d-none">
                                <label class="search-form-btn btn btn-primary d-block w-100 dropdown-toggle" for="collapseCheckbox3" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-controls="collapse3">
                                    Region
                                </label>

                             <div class="collapse" id="collapse3">
                                <div class="form-check m-1">
                                    {% for r in regions %}
                                    <input class="form-check-input region-checkbox" data-value="{{ r.value }}" type="checkbox" name="Region" value="{{ r.value }}" id="region{{ r.id }}">
                                    <label class="form-check-label" for="region{{ r.id }}">
                                        {{ r.value }}
                                    </label>
                                    <br>
                                    {% endfor %}
                                </div>
                            </div>

                            </form>



                    </ul>
                </div>
            </div>

            <div class="col-lg-9 col-md-12">
                <div class="shop-container">
                    <div class="woocommerce-notices-wrapper"></div>
                    <div class="products row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-4">
                        {% for product in products %}
                        <div class="col">
                            <div class="card border border-dark">
                                <img src="{{ product.productimage_set.first.image.url }}" class="card-img-top" alt="{{ product.name }}">
                                <div class="card-body bg-dark text-white">
                                    <h5 class="card-title">{{ product.name|truncatechars:40 }}</h5>
                                    <p>{{ product.price }}£</p>
                                    <a href="{% url 'products:product-detail' slug=product.slug %}" class="btn btn-primary">View Product</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

<script>


 document.addEventListener("DOMContentLoaded", function () {
        const checkboxes = document.querySelectorAll(".region-checkbox");

        function updateURL() {
            const selectedRegions = {};
            checkboxes.forEach((checkbox) => {
                if (checkbox.checked) {
                    const name = checkbox.name;
                    const value = checkbox.value;
                    if (!selectedRegions[name]) {
                        selectedRegions[name] = [];
                    }
                    selectedRegions[name].push(value);
                }
            });

            const urlParams = new URLSearchParams(window.location.search);

            urlParams.delete("Brands");
            urlParams.delete("Strength");
            urlParams.delete("Region");

            for (const [name, values] of Object.entries(selectedRegions)) {
                values.forEach((value) => {
                    urlParams.append(name, value);
                });
            }

            window.history.replaceState({}, "", "?" + urlParams.toString());

            window.location.reload();
        }

        checkboxes.forEach((checkbox) => {
            checkbox.addEventListener("change", updateURL);
        });
    });

</script>

</main>
{% endblock content %}
