.nav {
 background-color: #563727;
}

.container {
    width: 100% !important;
}

body {
    background-color: #CC9966;
    overflow-x: hidden;
}

a.nav-link,
a.nav-link:visited,
a.nav-link:hover,
a.nav-link:active {
    color: white !important;
}

.custom-border {
    border-top-style: solid;
    border-top-color: #563727;
}

.custom-border-bottom {
    border-bottom-style: solid;
    border-bottom-color: #563727;
}

.custom-border-all {
    border-left-style: solid;
    border-left-color: #563727;
    border-right-style: solid;
    border-right-color: #563727;
    border-bottom-style: solid;
    border-bottom-color: #563727;
}

#page-container {
  position: relative;
  min-height: 100vh;
}


.footer {
  overflow-x: hidden;
  position: absolute;
  width: 100%;
}

.custom-search {
  background-color: #563727;
  color: #FFFFFF;
  border: none;
  padding: 10px;
  width: 500px;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  box-shadow: 0 0 0 3px #FFFFFF;
}

.custom-search:focus {
  background-color: #CC9966;
  outline: none;
}

custom-vr {
  width: 1px;
  height: 20px;
  background-color: black;
  margin: 0 10px;
  border-right: 1px solid black;
}

.modal-content {
  border: 1px solid #4A2C2A;
  border-radius: 10px;
  width: 820px;


}

.modal-header {
    padding: 18px;
    background-color: #563727;
}

.modal-body {
        padding: 20px;
        background-color: #CC9966;
}

.modal-title {
    color: #FFFFFF;
}



.btn {

  background-color: #563727;
  color: #FFFFFF;
  border: none;
  padding: 10px 20px;
  font-size: 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 0 0 3px #FFFFFF;
}

.search-form-btn {
        box-shadow: 0 0 0 0px;
        border-radius: 0px;
}



.btn:hover {
  background-color: #CC9966;
}

.dropdown:hover .dropdown-menu-custom {
    display: block;
}

.dropdown-toggle::after {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-left: 0.3em solid transparent;

    transition: transform 0.2s ease-in-out;
}


#collapseCheckbox:checked + .btn-primary::after {
    transform: rotate(180deg);
}
#collapseCheckbox2:checked + .btn-primary::after {
    transform: rotate(180deg);
}
#collapseCheckbox3:checked + .btn-primary::after {
    transform: rotate(180deg);
}


.card-title {
    display: -webkit-box;
    max-width: 250px;
    -webkit-line-clamp: 2 !important;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

i.fas.fa-heart {
  color: red;
}

i.far.fa-heart {
  color: black;
}

/* Animation to fill the heart */
@keyframes fillHeart {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
    color: red;
  }
}

.card-pad {
    padding-left: 55px;
    padding-right: 55px;
}



.cart-items-container {
    display: flex;
    flex-direction: column;
}

.cart-item-header {

    align-items: center; /* Align content of each item horizontally */
    margin-top: 10px;

}

.remove-from-cart-btn {
    margin-right: 15px;
}

.cart-item {


    margin-bottom: 20px; /* Adjust the spacing between items */
}

.cart-item img {
    width: 50px; /* Set the width of the small images */
    height: 50px; /* Set the height of the small images */
    margin-right: 10px; /* Adjust the spacing between image and other elements */
}

.cart-item-name {
    margin-right: 30px;
}

.cart-item-info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.cart-item-price,
.cart-item-count {
    margin-right: 160px; /* Adjust the spacing between elements */
}

