{% load static %}

<header class="nav p-3 d-flex justify-content-between">
  <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
    <li>
      <a href="{% url 'home' %}" class="header__logo">
        <img src="{% static 'images/logo.svg' %}" style="width: 89px; height: 42px">
      </a>
    </li>
        <li class="nav-item dropdown ">
            <a class="nav-link dropdown-toggle " href="#" id="dropdown03" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <span>Categories</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-custom" aria-labelledby="dropdown03">
                <li class="dropdown dropend">
                    <a class="dropdown-item dropdown-toggle" href="{% url 'products:list' %}?category=Cigars" id="dropdown06" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Cigars
                    </a>

                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdown06">
                        <li>
                            <a class="dropdown-item" href="{% url 'products:list' %}?category=Cigars">All Cigars</a>
                        </li>
                        <li class="dropdown-divider"></li>
                    <!-- Add other characteristics dropdown items for Cigars as needed -->
                </ul>
                </li>






                <li class="dropdown dropend">
                    <a class="dropdown-item dropdown-toggle " href="{% url 'products:list' %}" id="dropdown05" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Brands
                    </a>

                    <ul class="dropdown-menu dropdown-menu-dark " aria-labelledby="dropdown05">
                        <li>
                            <a class="dropdown-item" href="{% url 'products:brands' %}">All Brands</a>
                        </li>
                        <li class="dropdown-divider"></li>

                        {% for brand in brands %}
                        <li><a class="dropdown-item" href="{% url 'products:list' %}?Brands={{brand}}">{{ brand }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </li>

  </ul>

  <div class="d-flex align-items-center">
        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3 px-3 d-flex align-items-center" action="{% url 'products:list' %}" method="get">
            <input type="search" name="q" class="custom-search form-control border-3" placeholder="Search..." aria-label="Search">
            <i class="fas fa-search mx-3"></i>
        </form>

    <div class="text-end ms-auto">
      {% if request.user.is_authenticated %}
      <a href="{% url 'user:wishlist' %}"><i class="fas fa-heart mx-3 text-white"></i></a>
        {% endif %}
      <a href="{% url 'user:cart' %}"><i class="fas fa-shopping-cart mx-3 text-white"></i></a>
      {% if not request.user.is_authenticated %}
      <button type="button" class="btn btn-outline-light me-2" data-bs-toggle="modal" data-bs-target="#loginRegisterModal">
        Login/Register
      </button>
      {% else %}

          <button type="button" id="dropdown04" data-bs-toggle="dropdown" aria-expanded="false" class="btn btn-outline-light me-2 dropdown-toggle">
            {{ request.user.username }}
          </button>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdown04">
            <li><a class="dropdown-item" href="{% url 'user:profile' pk=request.user.pk %}">Profile</a></li>
            <li><a class="dropdown-item" href="{% url 'user:logout' %}">Logout</a></li>
          </ul>

      {% endif %}


          <!-- Modal -->
    <div class="modal fade" id="loginRegisterModal" tabindex="-1" aria-labelledby="loginRegisterModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" style="">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="loginRegisterModalLabel">Login/Register</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <!-- Login form -->
                            <p class="form-heading"><strong>Log in</strong></p>
                            <form class="form" id="loginForm" method="POST">
                                {% csrf_token %}
                                <div>
                                    <label for="login-username">Username:</label>
                                    <input class="form-control" type="text" id="login-username" name="username" placeholder="Enter your username">
                                    <span class="text-danger error-message" id="login-username-error"></span>
                                </div>
                                <div>
                                    <label for="login-password">Password:</label>
                                    <input class="form-control" type="password" id="login-password" name="password" placeholder="Enter your password">
                                    <span class="text-danger error-message" id="login-password-error"></span>
                                </div>
                                <button class="btn btn-outline-light me-2 mt-3" type="submit">Log in</button>
                            </form>
                        </div>
                        <div class="col-md-6">
                            <!-- Register form -->
                            <p class="form-heading"><strong>Register</strong></p>
                            <form class="form" id="registerForm" method="POST">
                                {% csrf_token %}
                                <div>
                                    <label for="register-username">Username:</label>
                                    <input class="form-control" type="text" id="register-username" name="username" placeholder="Enter your username">
                                    <span class="text-danger error-message" id="register-username-error"></span>
                                </div>
                                <div>
                                    <label for="register-email">Email:</label>
                                    <input class="form-control" type="email" id="register-email" name="email" placeholder="Enter your email">
                                    <span class="text-danger error-message" id="register-email-error"></span>
                                </div>
                                <div>
                                    <label for="register-password1">Password:</label>
                                    <input class="form-control" type="password" id="register-password1" name="password1" placeholder="Enter your password">
                                    <span class="text-danger error-message" id="register-password1-error"></span>
                                </div>
                                <div>
                                    <label for="register-password2">Confirm Password:</label>
                                    <input class="form-control" type="password" id="register-password2" name="password2" placeholder="Enter your password">
                                    <span class="text-danger error-message" id="register-password2-error"></span>
                                </div>
                                <button class="btn btn-outline-light me-2 mt-3" type="submit">Register</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>



<script>
  document.getElementById('loginForm').addEventListener('submit', function (e) {
    e.preventDefault(); // Prevent the default form submission

    const formData = new FormData(this);

    fetch('{% url 'user:login' %}?next={{ request.get_full_path }}', {
      method: 'POST',
      body: formData,
    })
      .then(response => response.json())
      .then(data => {

        if (data.errors) {
          document.getElementById('login-username-error').textContent = data.errors.username || '';
          document.getElementById('login-password-error').textContent = data.errors.password || '';
        } else {

          console.log('Login successful');

          window.location.href = data.success_url;
        }
      });
  });

  document.getElementById('registerForm').addEventListener('submit', function (e) {
    e.preventDefault(); // Prevent the default form submission

    // Get form data
    const formData = new FormData(this);

    // Send an AJAX request to submit the form data
    fetch('{% url 'user:registration' %}', {
      method: 'POST',
      body: formData,
    })
      .then(response => response.json())
      .then(data => {

        if (data.errors) {
          // You need to update the error message placeholders for the register form as well
          document.getElementById('register-username-error' ).textContent = data.errors.username || '';
          document.getElementById('register-email-error').textContent = data.errors.email || '';
          document.getElementById('register-password1-error').textContent = data.errors.password1 || '';
          document.getElementById('register-password2-error').textContent = data.errors.password2 || '';
        } else {

          console.log('Registration successful');

          window.location.href = data.success_url;
        }
      });
  });

  function displayErrorMessage(field, message) {
    var errorMessage = document.createElement("div");
    errorMessage.className = "error-message text-danger";
    errorMessage.textContent = message;

    field.parentNode.appendChild(errorMessage);
  }
</script>


</header>